.card {
  position: relative;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--beige);
  background-color: var(--darkorange);
  margin-top: 100px;
  transition:
    transform 0.1s ease,
    background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0 8px 24px rgb(0 2 8 / 30%);
    transform: scale(1.07) rotate(-2deg);
    background-color: var(--yellow);
    color: var(--blue);
  }
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.cardDescription {
  font-size: 1rem;
  color: #666;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
}
